<title>Kravica</title>
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='style.css') }}">
<div class="logo">
  <img class="logo_pic" src="https://www.askideas.com/media/40/Cow-With-Closeup-Face-Funny-Wallpaper.jpg"
       alt="Picture not found. Fix the bug please.">
</div>
<div class="page">
  <h1>Kravica</h1>
  <div class="metanav">
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">Vpisi se</a>
  {% else %}
    <a href="{{ url_for('logout') }}">Izpisite se</a>
  {% endif %}
  </div>
  {% block body %}{% endblock %}
</div>